*{
    box-sizing: border-box;
    margin: 0;
}

p{
    margin-bottom: 0 !important
}
body{
    display:flex;
    flex-direction: column;
    background: url('/assets/main-bg.png') no-repeat center center/cover;
}
.viewport{
    height: 100vh;
    display:flex;
    flex-direction: column;
}

main{
    flex: 1;
    display: flex;
}

header{
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    background-color: plum;
    align-items: center;
    padding: .5rem;
}

ul{
    padding: 0;
    margin: 0;
}

ul li{
    display: inline;
    padding-inline: 1rem;
    list-style: none;
    margin: 0;
    cursor: pointer;
}

.active ul li{
    text-decoration: underline;
}


.content{
    display: none;
    
}

.content.active{
    margin: 1rem;
    display: block;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: bisque;
}

.hidden{
    display: none;
}

.tile{
    box-shadow: 2px 2px 2px 1px;
    border-radius: 3px;
    background-color: plum;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 2rem;
}

.quiz-type-container{
    display: flex;  
    justify-content: space-around;
    align-items: center;
    flex-wrap: ;
    height: 100%;
}

.content{
    width: 100%;
}


.container-confirmation {
    padding: 20px;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .btn-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }